<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mcmillanrestaurant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Mcmillan Restaurant"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.McmillanRestaurant">
        <activity android:name=".View.CustomerFoodsActivity"></activity>
        <activity android:name=".View.DisplayFoodActivityCustomer" />
        <activity android:name=".View.DisplayFoodActivityManager" />
        <activity
            android:name=".View.AddFoodActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".View.RegisterActivity" />
        <activity
            android:name=".View.LoginActivity"
            android:label="Mcmillan Restaurant"
            android:theme="@style/Theme.McmillanRestaurant.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>